body {
  font-family: Arial, Helvetica, sans-serif;
}

.master {
  width: 860px;
  border: 2px solid grey;
  margin: 0 auto;
  /* clear: both; */
}

.poster {
  width: 860px;
  height: 356px;
  border: 2px solid #5fb3db;
  background-color: #fff;
  /* clear: both; */
  margin-bottom: 30px;
}

.poster img {
  /* width: 270px; */
  float: left;
}

.poster h3 {
  float: right;
  margin-right: 90px;
  margin-top: 120px;
  font-size: 35px;
}

.service {
  width: 190px;
  float: left;
  margin-right: 25px;
  margin-bottom: 50px;
  
}

.service img {
  width: 100%;
  border: 5px solid #5fb3db;
}

.service h3 {
  font-weight: 500;
}

.service p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: gray;
}

/* Third Section Starts Here  */

.left_featured_div {
  width: 370px;
  border: 5px solid #5fb3db;
  clear: both;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
}

.featured {
  width: 150px;
  text-align: center;
  background-color: #1e233a;
  color: #fff;
  position: relative;
  top: -45px;
}

.featured h2 {
  padding: 10px 0;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.left_featured_div img {
  float: left;
  margin-bottom: 30px;
}

.left_featured_div h3 {
  font-size: 21px;
  float: right;
  margin: 0;
  margin-right: 60px;
  font-weight: 500;
}

.left_featured_div p {
  clear: both;
  font-size: 15px;
  line-height: 22px;
}

/* Right Div Starts Here  */

.right_hairstyle_div {
  width: 370px;
  border: 5px solid #5fb3db;
  background-color: #519194;
  color: #fff;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.hairstyle_div {
  width: 150px;
  text-align: center;
  background-color: #1e233a;
  color: #fff;
  position: relative;
  top: -45px;
}

.hairstyle_div h2 {
  padding: 10px 0;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.right_hairstyle_div h3{
  margin-left: 300px;
}


.right_hairstyle_div p {
  font-size: 14px;
  line-height: 24px;
  margin-top: 0;
}

/* Right Second Div Starts Here  */

.right_second_div{
  width: 380px;
  border: 5px solid #5fb3db;
  background-color: #519194;
  color: #fff;
  float: left;
  margin-left: 20px;
  padding-right: 30px;
}

.right_second_div img{
  float: left;
  width: 151px;
  margin-right: 10px;
}

.right_second_div h4{
  float: left;
  margin-top: 55px;
  
}

